.newContainer {
    width: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* @media (min-width: 660px) {
    .container{
        width: 300px;
        max-width: 300px;
    }
} */

input, select {
    width: 50%;
}