.newContainer {
    width: 700px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.newContainer input, select {
    width: 80%;
}

.operatorSelect, .headerText, .componentElements {
    margin-top: 30px;
}